@page "/metrics"
@using BitSpy.Ui.Response
@inject HttpClient client

<PageTitle>metrics</PageTitle>

<h1>Metrics</h1>

@foreach (var metric in metrics)
{
    <p class="border-1">
        @metric.Name - @metric.Timestamp - @metric.TimeInGCSinceLastGCPercentage 
        - @metric.AllocationRatePerSecond - 
        @metric.CPUUsage - @metric.ExceptionCount
        @metric.Gen0Size - @metric.Gen1Size - @metric.Gen2Size
        @metric.Gen0CollectionCount - @metric.Gen1CollectionCount - @metric.Gen2CollectionCount
    </p>
}

@code {
    private List<MetricResponse> metrics = new();

    protected override async Task OnInitializedAsync()
    {
        var startingDate = DateTime.Now.AddYears(-1);
        var endingDate = DateTime.Now.AddYears(1);
        var response = await client.GetAsync($"{ApiConstants.ApiUrl}/metrics/all?startingTimeStamp={startingDate}&endingTimeStamp={endingDate}");
        metrics = await response.Content.ReadFromJsonAsync<List<MetricResponse>>() ?? new List<MetricResponse>();
    }
}